<div mat-dialog-content>
  <div class="mat-form-field">
    <label>Nazwa:</label>
    <p><input matInput [(ngModel)]="data.event.title" /></p>
  </div>
  <div class="mat-form-field">
    <label>Data:</label>
    <p><input bsDatepicker [(ngModel)]="data.event.start" [bsConfig]="bsDatepickerConfig" /></p>
  </div>
  <div class="mat-form-field">
    <label>Godzina rozpoczęcia:</label>
    <p><input type="time" [(ngModel)]="data.event.startHours" /></p>
  </div>
  <div class="mat-form-field">
    <label>Godzina zakończenia:</label>
    <p><input type="time" [(ngModel)]="data.event.endHours" /></p>
  </div>
  <div class="mat-form-field">
    <label>Czy powtarzać to wydarzenie co tydzień?</label>
    <input class="checkbox" type="checkbox" [(ngModel)]="data.event.repeatWeekly" />
  </div>
  <div class="one-line" *ngIf="assignedUser">
    <label>Osoba przypisana do wydarzenia:</label>
    <span>
      <strong>{{assignedUser.lastName}} {{assignedUser.firstName}}</strong>
      <button class="btn btn-danger" style="scale: 60%;" (click)="deleteAssigned()">Usuń</button>
    </span>
  </div>
  <div class="mt-3">
    <div class="mat-form-field input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input 
            type="text" 
            [(ngModel)]="contains" 
            class="form-control" 
            placeholder="Przypisz osobę..." 
            aria-label="Przypisz osobę..." 
            aria-describedby="basic-addon1"
            (input)="search()"
            style="max-width: 300px;"
            />
    </div>
    <ul>
        <li *ngFor="let person of filteredUsers" (click)="assignPerson(person)">
            <p>{{person.lastName}} {{person.firstName}}</p>
        </li>
    </ul>
</div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-success" mat-button [mat-dialog-close]="{ data: data, action: 'save' }" cdkFocusInitial>Zapisz</button>
  <button class="btn btn-warning" mat-button (click)="onNoClick()">Anuluj</button>
  <button 
    class="btn btn-danger"
    *ngIf="showDeleteButton" 
    mat-button 
    [mat-dialog-close]="{ data: data, action: 'delete' }" 
    cdkFocusInitial
    >Usuń</button>
</div>
