<div class="mb-3">
    <input 
        type={{type}} 
        [class.is-invalid]="control.touched && control.invalid" 
        class="form-control" 
        [formControl]="control"
        placeholder={{label}}
    >
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Proszę wprowadzić pole "{{label}}"
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        "{{label}}" musi mieć przynajmniej {{control.errors?.['minlength'].requiredLength}} znaków
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
        {{label}} musi mieć maksymalnie {{control.errors?.['maxlength'].requiredLength}} znaków
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Hasła nie zgadzają się
    </div>
</div>