<div>
    <p *ngIf="homeworks.length === 0">Brak przydzielonych zadań domowych</p>
    <h2 *ngIf="homeworks.length > 0">Zadania przydzielone dla tej klasy:</h2>
    <table class="styled-table" *ngIf="homeworks.length > 0">
        <thead>
            <tr>
                <th>Opis zadania</th>
                <th>Komentarz do zadania</th>
                <th>Data wystawienia zadania</th>
                <th>Termin zadania</th>
                <th>Nauczyciel wystawiający</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let homework of homeworks">
                <td>{{ homework.description }}</td>
                <td>{{ homework.comment }}</td>
                <td>{{ homework.publishDate | date:'dd-MM-yyyy'}}</td>
                <td *ngIf="homework.deadline.toString() === '0001-01-01T00:00:00'">
                    Brak daty</td>
                <td *ngIf="homework.deadline.toString() !== '0001-01-01T00:00:00'">
                    <!-- {{ homework.deadline | date:'dd-MM-yyyy'}}</td> -->
                    {{homework.deadline | date:'dd-MM-yyyy'}} ({{timeToEvent(homework.deadline)}}) </td>
                <td>{{ homework.teacherFullName }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="user && user.accountType === 'Teacher'">
    <div>
        <h2>Przydziel nowe zadanie dla klasy:</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Opis zadania</th>
                    <th>Komentarz do zadania</th>
                    <!-- <th>Data wystawienia zadania</th> -->
                    <th>Termin oddania</th>
                    <!-- <th>Id Nauczyciela wystawiającego</th> -->
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="descriptionForm" placeholder="Ogólny opis zadania" [value]="descriptionForm" class="grade-description-input">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="commentForm" placeholder="Szczegółowy opis zadania" [value]="commentForm" class="grade-description-input">
                    </td>
                    <td>
                        <input type="text" 
                        class="grade-description-input"
                        [(ngModel)]="deadlineForm"
                        [value]="deadlineForm | date:'dd-MM-yyyy'"
                        placeholder="Ostateczny termin"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }"
                        >
                    </td>
                    <td>
                        <button (click)="assignHomework()">Opublikuj zadanie</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
