/* Dodatkowe style */
.grades-container {
    margin: 20px;
}

.styled-table input[type="text"],
.styled-table input[type="number"],
.styled-table input[type="text"].change-all-descriptions {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Nowa stylizacja tabeli */
.styled-table {
    width: 80%;
    border: 10px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd; /* odpowiada za kratkowanie */
    padding: 20px;
    text-align: left;
}

.styled-table thead {
    background-color: #3498db;
    color: #ffffff;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table th, .styled-table td {
    border-bottom: 1px solid #ddd;
}

/* Stylizacja ostatniej kolumny */
.styled-table th:last-child,
.styled-table td:last-child {
    border-bottom: none; /* Usunięcie dolnej granicy ostatniej kolumny */
}

.styled-table th:last-child {
    width: 100%; /* Ustawienie szerokości na 100% dla th ostatniej kolumny */
}
