.attendances-container {
    margin: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table th, .styled-table td {
    padding: 15px;
    text-align: left;
}

.styled-table thead {
    background-color: #3498db;
    color: #ffffff;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table th, .styled-table td {
    border-bottom: 1px solid #ddd;
}

.styled-table th:nth-child(3) {
    position: relative;
}

.styled-table th:nth-child(3)::before {
    content: "";
    display: block;
    height: 10px;
}

.styled-table input[type="text"],
.styled-table input[type="number"],
.styled-table input[type="text"].change-all-descriptions {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.change-all-descriptions {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.change-all-descriptions:hover {
    background-color: #2980b9;
}

.accordion-container {
    width: 100%;
    margin-bottom: 20px;
}

.accordion-group {
    font-size: 130%;
}

.styled-table-accordion {
    width: 75%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 50%;
}

.styled-table-accordion th, .styled-table-accordion td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.styled-table-accordion thead {
    background-color: #3498db;
    color: #ffffff;
}

.styled-table-accordion tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table-accordion th, .styled-table-accordion td {
    border-bottom: 1px solid #ddd;
}

.styled-table-accordion input[type="text"],
.styled-table-accordion input[type="number"] {
    width: 100%;
    padding: 8px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
}

.styled-table-accordion th:nth-child(3) {
    position: relative;
}

.styled-table-accordion th:nth-child(3)::before {
    content: "";
    display: block;
    height: 8px; 
}

.styled-table-accordion input.change-all-descriptions {
    width: calc(100% - 20px); 
    padding: 8px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
}

.styled-table-accordion input.change-all-descriptions:hover {
    background-color: #2980b9;
}

.subject-name {
    border: 2px solid #3498db;
    padding: 10px; 
    color: #3498db;
    border-radius: 15px;
    border-left-width: 150px;
    border-right-width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }