<div class="card">
    <div class="card-body">
        <div *ngIf="messages.length === 0">
            Brak wiadomości. Możesz wysłać pierwszą wiadomość klikając 'Wyślij'
        </div>

        <ul *ngIf="messages.length > 0" class="chat">
            <li *ngFor="let message of messages">
                <ng-container *ngIf="user">
                    <div *ngIf="user.id === message.senderId">
                        <span class="chat-img float-end">
                            <h3>Ty<i class="fa-solid fa-user"></i></h3>
                        </span>
                        <div class="chat-body chat-sender">
                            <div class="header">
                                <small class="text-muted">
                                    <span><i class="fa-regular fa-clock"></i> {{message.messageSent + 'Z' | timeago}}</span>
                                    <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderId !== recipientId"> (Nieprzeczytana)</span>
                                    <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderId !== recipientId"> (Przeczytana {{message.dateRead + 'Z' | timeago}})</span>
                                </small>
                            </div>
                            <h3 style="text-indent: 15px;">{{message.content}}</h3>
                        </div>
                    </div>
                    <div *ngIf="user.id === message.recipientId">
                        <span class="chat-img float-end">
                            <h3 *ngIf="message.senderAccountType==='Teacher'">{{message.senderFullName}} | Nauczyciel <i class="fa-solid fa-user-tie"></i></h3>
                            <h3 *ngIf="message.senderAccountType==='Director'">{{message.senderFullName}} | Dyrektor <i class="fa-solid fa-user-tie"></i></h3>
                            <h3 *ngIf="message.senderAccountType==='Parent'">{{message.senderFullName}} | Rodzic <i class="fa-solid fa-user"></i></h3>
                            <h3 *ngIf="message.senderAccountType==='Student'">{{message.senderFullName}} | Uczeń <i class="fa-solid fa-user-graduate"></i></h3>
                        </span>
                        <div class="chat-body chat-recipient">
                            <div class="header">
                                <small class="text-muted">
                                    <span><i class="fa-regular fa-clock"></i> {{message.messageSent + 'Z' | timeago}}</span>
                                    <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderId !== recipientId"> (Nieprzeczytana)</span>
                                    <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderId !== recipientId"> (Przeczytana {{message.dateRead + 'Z' | timeago}})</span>
                                </small>
                            </div>
                            <h3 style="text-indent: 15px;">{{message.content}}</h3>
                        </div>
                    </div>
                </ng-container>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="content"
                    type="text"
                    class="form-control input-sm me-2" 
                    placeholder="Wyślij prywatną wiadomość">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </div>
        </form>
    </div>
</div>