/* Dodatkowe style */
.grades-container {
    margin: 20px;
}

/* Nowa stylizacja tabeli */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table th, .styled-table td {
    padding: 15px;
    text-align: left;
}

.styled-table thead {
    background-color: #3498db;
    color: #ffffff;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table th, .styled-table td {
    border-bottom: 1px solid #ddd;
}

/* Dodatkowe pola nad "Opis" */
.styled-table th:nth-child(3) {
    position: relative;
}

.styled-table th:nth-child(3)::before {
    content: "";
    display: block;
    height: 10px;
}

/* Dostosowanie inputów */
.styled-table input[type="text"],
.styled-table input[type="number"],
.styled-table input[type="text"].change-all-descriptions {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.change-all-descriptions {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.change-all-descriptions:hover {
    background-color: #2980b9;
}
