<ng-container *ngIf="students.length === 0">
    <strong>Brak przypisanych studentów do tej klasy!</strong>
</ng-container>

<div *ngIf="students.length > 0 && user && user.accountType === 'Teacher'" class="grades-container">
    <h1 class="subject-name">{{subject?.name?.toUpperCase()}}</h1>
    <h2>Uczniowie tej klasy i ich oceny:</h2>
    <div class="accordion-container">
        <accordion [isAnimated]="true" [closeOthers]="true">
            <ng-container *ngFor="let student of studentsForDisplay">
                <accordion-group class="accordion-group">
                    <div class="accordion-heading" accordion-heading>
                        <i class="fa-solid fa-user-graduate"></i>
                        <span>  {{student.firstName}} {{student.lastName}}</span>
                    </div>
                    <div class="accordion-body">
                        <p *ngIf="student.grades.length === 0">Brak przydzielonych ocen</p>
                        <table *ngIf="student.grades.length > 0" class="styled-table-accordion">
                            <thead>
                                <tr>
                                    <th>Opis oceny</th>
                                    <th>Ocena</th>
                                    <th>Data wystawienia oceny</th>
                                    <th>Id Nauczyciela wystawiającego</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grade of student.grades">
                                    <td>{{ grade.description }}</td>
                                    <td>{{ grade.value }}</td>
                                    <td>{{ grade.date | date:'dd-MM-yyyy'}}</td>
                                    <td>{{ grade.teacherId }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>
            </ng-container>
        </accordion>
    </div>
    
    <!-- <div>
        <strong>Oceny klasy:</strong>
        <div *ngFor="let grade in grades">
            <p>zrób tak żeby była tu tabela studentów i ich ocen po przecinku, sortuj po imieniu i nazwisku oraz oceny wpisuj po kolei</p>
        </div>
    </div> -->
    <div>
        <h2>Przydzielanie ocen:</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>
                        <input type="text" [(ngModel)]="description" placeholder="Zmień wszystkie opisy" class="change-all-descriptions" (input)="updateDescriptions()">
                    </th>
                    <th>Ocena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let i = index">
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>
                        <input type="text" [(ngModel)]="gradeDescriptions[i]" placeholder="Opis oceny" [value]="gradeDescriptions[i]" class="grade-description-input">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="gradeValues[i]" placeholder="Ocena" [value]="gradeValues[i]" class="grade-input">
                    </td>
                    <td>
                        <button (click)="assignGrade(student, i)">Wystaw ocenę</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: right; margin-top: 10px; margin-right: 25px;">
            <button (click)="assignAllGrades()">Wystaw wszystkie oceny</button>
        </div>
    </div>
</div>
