<div>
    <h2>Wyślij wiadomość do dowolnej osoby:</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input 
            type="text" 
            [(ngModel)]="contains" 
            class="form-control" 
            placeholder="Wyszukaj osobę..." 
            aria-label="Wyszukaj osobę..." 
            aria-describedby="basic-addon1"
            (input)="search()"
            style="max-width: 300px;"
            />
    </div>
    <ul>
        <li *ngFor="let person of filteredUsers" [routerLink]="['/wiadomosci', person.id]">
            <p>{{person.lastName}} {{person.firstName}}</p>
        </li>
    </ul>
</div>
<div class="mb-4 d-flex">
    <div class="btn-group" name="container">
        <button 
            class="btn btn-primary"
            (click)="getMessagesForUser('Unread')"
        >
            <i class="fa fa-envelope"></i> Nieprzeczytane
        </button>
        <button 
            class="btn btn-primary"
            (click)="getMessagesForUser('Inbox')"
        >
            <i class="fa fa-envelope-open"></i> Wiadomości otrzymane
        </button>
        <button 
            class="btn btn-primary"
            (click)="getMessagesForUser('Outbox')"
        >
            <i class="fa fa-paper-plane"></i> Wysłane wiadomości
        </button>
    </div>
</div>

<div class="row" *ngIf="!messages || messages.length === 0">
    <h3 *ngIf="container === 'Unread'">Brak nowych wiadomości</h3>
    <h3 *ngIf="container !== 'Unread'">Brak wiadomości</h3>
</div>

<div class="row" *ngIf="messages && messages.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
        <thead>
            <tr *ngIf="user && user.accountType==='Teacher'">
                <th style="width: 35%;">Wiadomość</th>
                <th style="width: 25%;">Od / Do</th>
                <th style="width: 20%;">Wysłano / Odebrano</th>
                <th style="width: 20%;"></th>
            </tr>
            <tr *ngIf="user && user.accountType!=='Teacher'">
                <th style="width: 45%;">Wiadomość</th>
                <th style="width: 30%;">Od / Do</th>
                <th style="width: 25%;">Wysłano / Odebrano</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr *ngFor="let message of messages"
                routerLink="{{container === 'Outbox' 
                ? '/wiadomosci/' + message.recipientId 
                : '/wiadomosci/' + message.senderId}}"
            >
                <td>{{message.content}}</td>
                <td>
                    <div *ngIf="container === 'Outbox'">
                        <strong *ngIf="message.recipientAccountType==='Teacher'">{{message.recipientFullName | titlecase}} | Nauczyciel <i class="fa-solid fa-user-tie"></i></strong>
                        <strong *ngIf="message.recipientAccountType==='Parent'">{{message.recipientFullName | titlecase}} | Rodzic <i class="fa-solid fa-user"></i></strong>
                        <strong *ngIf="message.recipientAccountType==='Student'">{{message.recipientFullName | titlecase}} | Uczeń <i class="fa-solid fa-user-graduate"></i></strong>
                    </div>
                    <div *ngIf="container !== 'Outbox'">
                        <strong *ngIf="message.senderAccountType==='Teacher'">{{message.senderFullName | titlecase}} | Nauczyciel <i class="fa-solid fa-user-tie"></i></strong>
                        <strong *ngIf="message.senderAccountType==='Parent'">{{message.senderFullName | titlecase}} | Rodzic <i class="fa-solid fa-user"></i></strong>
                        <strong *ngIf="message.senderAccountType==='Student'">{{message.senderFullName | titlecase}} | Uczeń <i class="fa-solid fa-user-graduate"></i></strong>
                    </div>
                </td>
                <td>{{message.messageSent + 'Z' | timeago}}</td>
                <td *ngIf="user && user.accountType==='Teacher'">
                    <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-danger">Usuń wiadomość</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>