<div *ngIf="user">
    <p *ngIf="grades.length === 0">Brak ocen z wybranego przedmiotu</p>
    <table *ngIf="grades.length>0" class="table">
      <thead>
        <tr>
          <th>Opis oceny</th>
          <th>Ocena</th>
          <th>Data wystawienia oceny</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grade of grades">
          <td>{{ grade.description }}</td>
          <td>{{ grade.value }}</td>
          <td>{{ grade.date | date:'dd-MM-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
</div>