<ng-container *ngIf="user && user.accountType === 'Teacher'">
    <div class="class-subjects-card fa-2x" (click)="log()" routerLink="/oceny/{{classId}}/{{subject.id}}">
        <div>
            <p>{{subject.name}}</p>
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="user && (user.accountType === 'Student' || user.accountType === 'Parent')">
    <div class="class-subjects-card fa-2x" (click)="log()" routerLink="/oceny/{{classId}}/{{subject.id}}/{{user.id}}">
        <div>
            <p>{{subject.name}}</p>
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</ng-container>