<ng-container *ngIf="user && user.accountType === 'Teacher'">
    <div class="class-subjects-card fa-2x" (click)="log()" [routerLink]="getRouterLinkForTeacher()">
        <div>
            <p>{{subject.name}}</p>
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="user && user.accountType === 'Student'">
    <div class="class-subjects-card fa-2x" (click)="log()" [routerLink]="getRouterLinkForStudent()">
        <div>
            <p>{{subject.name}}</p>
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="user && user.accountType === 'Parent'">
    <div class="class-subjects-card fa-2x" (click)="log()" [routerLink]="getRouterLinkForParent()">
        <div>
            <p>{{subject.name}}</p>
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</ng-container>