<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Tworzenie nowego konta</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right: 10px;" class="mb-0 mr-0">Jestem: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Mężczyzną
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Kobietą
        </label>
    </div>

    <app-account-type-picker [formControl]="$any(registerForm.controls['accountType'])" fieldName="'Account Type'" type="dropdown"></app-account-type-picker>
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Nazwa użytkownika'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Data urodzin'"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Hasło'" [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Potwierdź hasło'" [type]="'password'"></app-text-input>
   
    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Zarejestruj się</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Anuluj</button>
    </div>
</form>
