<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Szkolny dziennik elektroniczny</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="(accountService.currentUser$ | async) as currentUser">
          <ng-container *ngIf="accountService.currentUser$"> <!-- Universal for all account types -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/oceny" routerLinkActive="active">Oceny</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/zadania" routerLinkActive="active">Zadania domowe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/plan" routerLinkActive="active">Plan zajęć</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/wiadomosci" routerLinkActive="active">Wiadomości</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/kalendarz" routerLinkActive="active">Kalendarz szkolny</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/uwagi" routerLinkActive="active">Uwagi</a>
            </li>
          </ng-container>

          <!-- Template for now -->
          <ng-container *ngIf="accountService.currentUser$ && (currentUser.accountType === 'Student') || (currentUser.accountType === 'Parent')">
            
          </ng-container>
          <ng-container *ngIf="accountService.currentUser$ && currentUser.accountType === 'Teacher'">
            
          </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as currentUser" dropdown>
          <a class="dropdown-toogle text-light" dropdownToggle>Witaj użytkowniku</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edytuj profil</a>
            <a class="dropdown-item" *ngIf="currentUser.accountType === 'Student'" routerLink="/rejestracja-rodzica" routerLinkActive="">Rejestracja rodzica</a>
            <a class="dropdown-item" (click)="logout()">Wyloguj się</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Nazwa użytkownika">
          <input 
            name="password" 
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Hasło">
          <button class="btn btn-outline-success" type="Login">Zaloguj</button>
        </form>
    </div>
  </nav>