<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Digital School Diary</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="(accountService.currentUser$ | async) as currentUser">
          <ng-container *ngIf="accountService.currentUser$"> <!-- Universal for all account types -->
            <li class="nav-item">
              <a class="nav-link" href="#">Grades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Homework</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">School Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Detention</a>
            </li>
          </ng-container>

          <!-- Template for now -->
          <ng-container *ngIf="accountService.currentUser$ && (currentUser.accountType === 'Student') || (currentUser.accountType === 'Parent')">
            
          </ng-container>
          <ng-container *ngIf="accountService.currentUser$ && currentUser.accountType === 'Teacher'">
            
          </ng-container>
        </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
          <a class="dropdown-toogle text-light" dropdownToggle>Welcome user</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit profile</a>
            <a class="dropdown-item">Parent registration</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username">
          <input 
            name="password" 
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-outline-success" type="Login">Login</button>
        </form>
    </div>
  </nav>