<div class="row">
  <ng-container *ngIf="user && user.accountType === 'Teacher'">
    <strong class="mb-2">Wybierz klasę:</strong>
    <div class="col-2" *ngFor="let class of classes">
      <app-classes-card [class]="class"></app-classes-card>
    </div>
  </ng-container>

  <ng-container *ngIf="user && (user.accountType === 'Student' || user.accountType === 'Parent')">
    <!-- <app-user-grades></app-user-grades> -->
    <div class="class-card fa-2x" routerLink="/oceny/{{user.classId}}"></div>
     <!-- oceny/{userid.classid} routerLink="/oceny/{{class.id}}  -->
  </ng-container>
</div>